{% extends "layout.html" %}

{% block main %}
    <section class="habit-list">
        {% for habit in habits %}
            {% set completed = habit["_id"] in completions %}
            <div class="habit{{ ' completed' if completed else '' }}">
                <p class="habit__name{{ ' completed' if completed else '' }}">
                    {{ habit["name"] }}
                </p>                
                {% if not completed %}
                    <div class="habit__actions">
                        <form method="POST" class="habit__form" action="{{ url_for('habits.complete') }}">
                            <input type="hidden" name="habitId" value="{{ habit['_id'] }}">
                            <input type="hidden" name="date" value="{{ selected_date }}">
                            <button type="submit" class="habit__confirm-button">
                                <i class="fas fa-check"></i>
                            </button>
                        </form>
                        <form method="POST" class="habit__form" action="{{ url_for('habits.delete_habit', habitId=habit['_id']) }}">
                            <input type="hidden" name="date" value="{{ selected_date }}">
                            <button type="submit" class="habit__delete-button">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </form>
                        
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </section>
{% endblock %}
